:root {
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-400: 231 77% 90%;
  --clr-neutral-900: 230 35% 7%;

  /* sub-h2 */
  --fs-200: 0.875rem;
  /* nav-links */
  --fs-300: 1rem;
  /* paragraph */
  --fs-400: 1.125rem;
  /* h5 */
  --fs-500: 1.75rem;
  /* sub-h1 */
  --fs-550: 1.75rem;
  /* h4 */
  --fs-600: 2rem;
  /* h3 */
  --fs-700: 3.5rem;
  /* h2 */
  --fs-800: 6.25rem;
  /* h1 */
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);

  /* default font weight */
  --fw-400: 400;
  /* nav links index */
  --fw-700: 700;

  /* letter spacing */
  --ls-2-35: 2.35px;
  --ls-2-7: 2.7px;
  --ls-4-725: 4.725px;

  --lh-normal: normal;
  --lh-1-78: 1.78;

  --w-50ch: 50ch;
  --gutter: 165px;
}

@media (max-width: 1040px) {
  :root {
    --fs-300: 0.875rem;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-200: 1rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    --fs-800: 5rem;
    --fs-900: clamp(5rem, 20vw, 9.375rem);
    --ls-4-725: 3.375px;
    --lh-1-78: 1.75;
  }
}

@media (max-width: 580px) {
  :root {
    --fs-300: 1rem;
  }
}

@media (max-width: 375px) {
  :root {
    --fs-200: 0.875rem;
    --fs-400: 0.9375rem;
    --fs-500: 1rem;
    --fs-600: 1rem;
    --fs-700: 1.5rem;
    --fs-800: 3.5rem;
    --ls-4-725: 2.7px;
  }
}

/* ------------------------- */
/*           Reset           */
/* ------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: hsl(var(--clr-neutral-400));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------- Composition -------------- */
.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.gridContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  grid-template-columns:
    minmax(1rem, 1fr)
    repeat(2, minmax(0, 40rem))
    minmax(1rem, 1fr);
  column-gap: 2rem;
  place-items: center;
}

@media (max-width: 768px) {
  .gridContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }
}
/* ------------- Utility ------------------ */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.textNeutral100 {
  color: hsl(var(--clr-neutral-100));
}

.textNeutral900 {
  color: hsl(var(--clr-neutral-900));
}

.fs200 {
  font-size: var(--fs-200);
}

.fs300 {
  font-size: var(--fs-300);
}

.fs400 {
  font-size: var(--fs-400);
}

.fs500 {
  font-size: var(--fs-500);
}

.fs550 {
  font-size: var(--fs-550);
}

.fs600 {
  font-size: var(--fs-600);
}

.fs700 {
  font-size: var(--fs-700);
}

.fs800 {
  font-size: var(--fs-800);
}

.fs900 {
  font-size: var(--fs-900);
}

.fw400 {
  font-weight: var(--fw-400);
}

.fw700 {
  font-weight: var(--fw-700);
}

.uppercase {
  text-transform: uppercase;
}

.ls2-35 {
  letter-spacing: var(--ls-2-35);
}

.ls2-7 {
  letter-spacing: var(--ls-2-7);
}

.ls4-725 {
  letter-spacing: var(--ls-4-725);
}

.lh-normal {
  line-height: normal;
}

.lh1-78 {
  line-height: 1.78;
}

.op-25 {
  opacity: 0.25;
}

.op-5 {
  opacity: 0.5;
}

.mr1-75 {
  margin-right: 1.75rem;
}

.mt-75 {
  margin-top: 0.75rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt1-5 {
  margin-top: 1.5rem;
}

.mt4-75 {
  margin-top: 4.75rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pt1-75 {
  padding-top: 1.75rem;
}

.pt2-375 {
  padding-top: 2.375rem;
}

.pt4-75 {
  padding-top: 4.75rem;
}

.w50ch {
  max-width: var(--w-50ch);
}

@media (max-width: 768px) {
  .md-mt-1 {
    margin-top: 1rem;
  }

  .md-mt-2-5 {
    margin-top: 2.5rem;
  }

  .md-mt-2-75 {
    margin-top: 2.75rem;
  }

  .md-mt-3 {
    margin-top: 3rem;
  }

  .md-mt-3-5 {
    margin-top: 3.5rem;
  }

  .md-mt-3-75 {
    margin-top: 3.75rem;
  }

  .md-mb-3 {
    margin-bottom: 3rem;
  }

  .md-mb-2-5 {
    margin-bottom: 2.5rem;
  }

  .md-pt-2 {
    padding-top: 2rem;
  }
}

@media (max-width: 375px) {
  .sm-mt-1 {
    margin-top: 1rem;
  }

  .sm-mt-1-5 {
    margin-top: 1.5rem;
  }

  .sm-mt-2 {
    margin-top: 2rem;
  }

  .sm-pt-2 {
    padding-top: 2rem;
  }

  .sm-pt-1-25 {
    padding-top: 1.25rem;
  }

  .sm-mb-2 {
    margin-bottom: 2rem;
  }

  .sm-mb-1-5 {
    margin-bottom: 1.5rem;
  }

  .sm-mr-1 {
    margin-right: 1rem;
  }
}

/* ------------- Block -------------------- */

/* ------------- Exception ---------------- */
