.main {
  --grid-gap: 0;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;
  background-image: url(/assets/technology/background-technology-desktop.jpg);
  background-position: center center;
  background-size: cover;
}

.containerTech {
  grid-template-areas:
    ". title title title ."
    ". tabOrdered techContent heroImg heroImg";
  grid-template-columns:
    minmax(2rem, 1fr)
    min-content
    minmax(min-content, 4fr)
    minmax(0, 4fr)
    minmax(2rem, 1fr);
  justify-items: start;
  padding-left: 0;
  padding-right: 0;
}

#title {
  grid-area: title;
}

#techContent {
  grid-area: techContent;
}

#tabOrdered {
  grid-area: tabOrdered;
  --flex-gap: 2rem;
  flex-direction: column;
}

#heroImg {
  grid-area: heroImg;
  justify-self: end;
  object-fit: contain;
}

@media (max-width: 768px) {
  .main {
    background-image: url(/assets/technology/background-technology-tablet.jpg);
  }

  .containerTech {
    grid-template-areas:
      ". title ."
      "heroImg heroImg heroImg"
      ". tabOrdered ."
      ". techContent .";
    grid-template-columns: 1.5rem 1fr 1.5rem;
    column-gap: 0;
    justify-items: center;
  }

  #title {
    justify-self: start;
  }

  #heroImg {
    justify-self: center;
  }

  #tabOrdered {
    --flex-gap: 1rem;
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  .main {
    background-image: url(/assets/technology/background-technology-mobile.jpg);
  }

  #title {
    justify-self: center;
  }
}
